<template>
  <div>
    <div v-if="quizStore.quizStatus !== 'QUESTIONSAVED'">
      <h1 class="text-center">Add Question</h1>
      <div class="text-left">
        <GenerateQuestion @questionsLoaded="generateQuestion" />
      </div>
      <div class="text-center mb-3">
        <Dropdown
          :options="
            quizStore.quizzes.map((c) => {
              return { label: c.title, value: c.id };
            })
          "
          optionLabel="label"
          optionValue="value"
          placeholder="Select a quiz"
          v-model="quizzesValue"
          class="form-min-width"
        />
      </div>
      <div class="text-center">
        <InputText
          type="text"
          class="form-min-width"
          placeholder="Question"
          v-model="questionValue"
        />
        <br />
        <span v-if="!isQuestionValid" class="error"
          >Please enter a valid question.</span
        >
      </div>
      <hr />
      <h4 class="text-center">Answer Options</h4>
      <div
        class="text-center"
        v-for="(opt, index) in numberOptions"
        :key="index"
      >
        <InputText
          type="text"
          class="form-min-width mb-2"
          :placeholder="`Option ${index + 1}`"
          v-model.trim="optionValue[index]"
        />
      </div>
      <div class="text-right">
        <Button
          @click="addOption"
          type="button"
          label="Add Option"
          icon="pi pi-plus"
        />
      </div>
      <hr />
      <h4 class="text-center">Correct Answer</h4>
      <div class="text-center mb-3">
        <Dropdown
          :options="
            optionAnswer.map((c, index) => {
              return { label: c, value: c };
            })
          "
          optionLabel="label"
          optionValue="value"
          placeholder="Select correct answer"
          v-model="optionAnswerValue"
          class="form-min-width"
        />
      </div>
      <div class="text-center mt-6">
        <Button
          @click="saveQuestion"
          class="text-2xl"
          raised
          text
          :disabled="isLoading || !isValidForm"
          label="Add Question!"
        ></Button>
      </div>
    </div>
    <div v-else>
      <h1 class="text-center">Question saved successfully</h1>
      <div class="text-center">
        <Button
          @click="backToQuizSelection"
          class="text-2xl"
          raised
          text
          label="Back to Quiz Selection"
        ></Button>
      </div>
    </div>
  </div>
</template>
    
<script setup>
import { ref, computed, onMounted } from "vue";
import { useQuiz } from "@/store/modules/quiz";
import QuizApi from "@/api/quiz";
import GenerateQuestion from "./GenerateQuestion.vue";
const quizApi = new QuizApi();
const emit = defineEmits(["reloadData"]);
const quizStore = useQuiz();
const quizzesValue = ref(quizStore.quizzes[0].id || "");
const questionValue = ref("");
const isLoading = ref(false);
const optionValue = ref([]);
const optionAnswerValue = ref("");
const numberOptions = ref(2);
//createdQuiz

const isQuestionValid = computed(() => {
  return questionValue.value && questionValue.value.length > 0;
});

const optionAnswer = computed(() => {
  return optionValue.value;
});
const backToQuizSelection = () => {
  quizStore.setQuizStatus("NOT_STARTED");
};
const addOption = () => {
  numberOptions.value++;
};

const isValidForm = computed(() => {
  return isQuestionValid.value;
});

const saveQuestion = async () => {
  if (isValidForm) {
    isLoading.value = true;
    const filteredOptions = optionValue.value.filter(
      (element) => element !== ""
    );
    await quizApi.createQuestion({
      question_text: questionValue.value,
      options: filteredOptions.join(", "),
      correct_answer: (
        filteredOptions.indexOf(optionAnswerValue.value) + 1
      ).toString(),
      quiz_id: quizzesValue.value,
    });
    isLoading.value = false;
    quizStore.setQuizStatus("QUESTIONSAVED");
    emit("reloadData", null);
  }
};

const generateQuestion = async (data) => {
  questionValue.value = data.question;
  numberOptions.value = data.answerOptions.length;
  optionValue.value = [...data.answerOptions];
  optionAnswerValue.value = data.correctAnswer;
};
onMounted(() => {
  if (quizStore.createdQuiz != null)
    quizzesValue.value = quizStore.createdQuiz.id;
  quizStore.setCreatedQuiz(null);
});
</script>
    
