<template>
  <div>
    <div class="text-center"><h1>Most Accessed  Categories</h1></div>
    <DataTable :value="categoryBoard" >
      <Column field="name" header="Name"></Column>
      <Column field="numberResults" header="No. Times Accessed "></Column>
    </DataTable>
  </div>
</template>
  <script setup>
import { computed } from "vue";
import { useQuiz } from "@/store/modules/quiz";
const quizStore = useQuiz();

const categoryBoard = computed(() => {
  console.log(quizStore.categories[0]);
  return quizStore.categories
    .map((category) => {
      return {
        name: category.name,
        numberResults: category.quizs.reduce((noResults, quiz) => {
          if (quiz.results && Array.isArray(quiz.results)) {
            return noResults + quiz.results.length;
          }
          return noResults;
        }, 0),
      };
    })
    .sort((a, b) => b.numberResults - a.numberResults);
});
</script>
  