<template>
  <div>
      <h1 class="text-center">Create Quiz</h1>
      <div class="text-center">
        <InputText
          type="text"
          class="form-min-width"
          placeholder="Title"
          v-model.trim="titleValue"
        />
        <br />
        <span v-if="!isTitleValid" class="error"
          >Please enter a valid title.</span
        >
      </div>
      <div class="text-center mt-3">
        <InputText
          type="text"
          class="form-min-width"
          placeholder="Description"
          v-model.trim="descriptionValue"
        />
        <br />
        <span v-if="!isDescriptionValid" class="error"
          >Please enter a valid description.</span
        >
      </div>
      <div class="text-center mt-3">
        <Dropdown
          :options="
            quizStore.categories.map((c) => {
              return { label: c.name, value: c.id };
            })
          "
          optionLabel="label"
          optionValue="value"
          placeholder="Select a category"
          v-model="categoryValue"
          class="form-min-width"
        />
      </div>
      <div class="text-center mt-3">
        <InputText
          type="text"
          class="form-min-width"
          placeholder="Difficulty"
          v-model.trim="difficultyValue"
        />
        <br />
        <span v-if="!isDifficultyValid" class="error"
          >Please enter a valid difficulty.</span
        >
      </div>
      <div class="text-center mt-3">
        <Dropdown
          :options="
            quizStore.users.map((c) => {
              return { label: c.username, value: c.id };
            })
          "
          optionLabel="label"
          optionValue="value"
          placeholder="Select owner"
          class="form-min-width"
          v-model="ownerValue"
        />
      </div>
      <div class="text-center mt-6">
        <Button
          @click="saveQuiz"
          class="text-2xl"
          raised
          text
          :disabled="isLoading || isValidForm"
          label="Create & Add Question !"
        ></Button>
      </div>
  </div>
</template>
  
  <script setup>
import { ref, onMounted, computed } from "vue";
import { useQuiz } from "@/store/modules/quiz";
import QuizApi from "@/api/quiz";
const quizApi = new QuizApi();

const quizStore = useQuiz();
//const questions = quizStore.selectedQuiz.questions;
const currentQuestionIndex = 0;
const ownerValue = ref("");
const categoryValue = ref("");
const titleValue = ref("");
const descriptionValue = ref("");
const difficultyValue = ref("");
const isLoading = ref(false);

const isOwnerValid = computed(() => {
  return ownerValue.value && isOwnerValid.value.length > 0;
});
const isTitleValid = computed(() => {
  return titleValue.value && titleValue.value.length > 0;
});
const isDifficultyValid = computed(() => {
  return difficultyValue.value && difficultyValue.value.length > 0;
});
const isDescriptionValid = computed(() => {
  return descriptionValue.value && descriptionValue.value.length > 0;
});

const isValidForm = computed(
  () =>
    {
      return isOwnerValid.value &&
    isTitleValid.value &&
    isDifficultyValid.value &&
    isDescriptionValid.value
    }
);

const saveQuiz = async() => {
  if (isValidForm) {
    isLoading.value = true;
    const quizRes = await quizApi
      .createQuiz({
        title: titleValue.value,
        description: descriptionValue.value,
        difficulty: difficultyValue.value,
        category_id: categoryValue.value,
        owner_id: ownerValue.value,
      })
      isLoading.value = false
      quizStore.setCreatedQuiz(quizRes.data.value)
      quizStore.setQuizStatus("ADDQUESTION");      
      quizStore.setQuizzes([...quizStore.quizzes, quizRes.data.value]);
  }
};


</script>
  
