<template>
  <div>
    <Splitter class="mb-5">
      <SplitterPanel class="flex  justify-content-center">
        <QuizesEngagement />
      </SplitterPanel>
      <SplitterPanel class="flex justify-content-center">
        <CategoryEngagement />
      </SplitterPanel>
    </Splitter>

    <UserScoreBoard />
  </div>
</template>
  <script setup>
import UserScoreBoard from "./UserScoreBoard.vue";
import QuizesEngagement from "./QuizesEngagement.vue";
import CategoryEngagement from "./CategoryEngagement.vue";
import { onMounted } from "vue";
const emit = defineEmits(["reloadData"]);
onMounted(async () => {
  emit("reloadData", null);
});
//
</script>