<template>
  <Button
    @click="generateQuestion"
    class="text-1xl"
    icon="pi pi-refresh"
    :loading="loadingQuestion"
    raised
    text
    label="Generate question"
  ></Button>
</template>
      
<script setup>
import { ref } from "vue";
import QuizApi from "@/api/quiz";
const quizApi = new QuizApi();
const emit = defineEmits(["questionsLoaded"]);

const loadingQuestion = ref(false);

const generateQuestion = async () => {
  loadingQuestion.value = true;
  const generatedQuestion = await quizApi.retrieveOpenTDBQuiz(1);
  // TODO fill form fields with response
  if (generatedQuestion.data.value) {
    let results = generatedQuestion.data.value.results;
    const randomIndex = Math.floor(
      Math.random() * (results[0].incorrect_answers.length + 1)
    );
    results[0].incorrect_answers.splice(
      randomIndex,
      0,
      results[0].correct_answer
    );

    if (results.length > 0) {
      emit("questionsLoaded", {
        question: results[0].question,
        answerOptions: results[0].incorrect_answers,
        correctAnswer: results[0].correct_answer,
      });
    }
  }
  loadingQuestion.value = false;
};
</script>
