<template>
  <div>
    <div v-if="quizStore.quizStatus !== 'FINISHED'">
      <div class="text-center">
        <ProgressBar
          :value="Number(progress.toFixed(2))"
          :showValue="true"
          style="height: 20px"
          class="p-mb-2"
        ></ProgressBar>
        <p v-if="timeLeft > 0">Time left: {{ timeLeft }} seconds</p>
      </div>
      <h1 class="text-center">Quiz</h1>
      <p class="text-center" v-if="currentQuestionIndex < questions.length">
        {{ currentQuestionIndex + 1 }} / {{ questions.length }}
      </p>
      <ViewQuestion
        v-for="(question, index) in questions"
        @choiceSelected="handleAnswer"
        :question="question"
        :questionIndex="index"
        :key="index"
      />
      <div class="text-center mt-6">
        <Button
          @click="finishQuiz"
          class="text-2xl"
          raised
          text
          label="Finish!"
        ></Button>
      </div>
    </div>

    <div v-if="quizStore.quizStatus === 'FINISHED'" class="text-center">
      <h2>Quiz Completed!</h2>
      <p>Your Score: {{ score }} / {{ questions.length }}</p>
      <InputText
        type="text"
        class="form-min-width"
        placeholder="Your feedback"
        v-model.trim="feedBack"
      />
      <br />
      <span v-if="!isValidFeedBack" class="error"
        >Please enter a valid feedback.</span
      >
      <br />
      <Button
        @click="saveFeedBack"
        :disabled="savedFeedback || !isValidFeedBack"
        class="text-2xl mb-10"
        raised
        text
        label="Add Feedback!"
      ></Button>
      <hr />

      <Button
        @click="backToQuizSelection"
        class="text-2xl"
        raised
        text
        label="Back to Quiz Selection"
      ></Button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import ViewQuestion from "./ViewQuestion.vue";
import { useQuiz } from "@/store/modules/quiz";
import QuizApi from "@/api/quiz";
const quizApi = new QuizApi();
const savedFeedback = ref(false);
const quizStore = useQuiz();
const questions = quizStore.selectedQuiz.questions;
const userAnswers = ref([]);
const randomUser =
  quizStore.users[Math.floor(Math.random() * quizStore.users.length)];
const currentQuestionIndex = 0;
const score = ref(0);
const feedBack = ref("");
const handleAnswer = (data) => {
  let currentQuestion = questions[data.index];
  if (currentQuestion.correct_answer == data.value) score.value++;
  userAnswers[data.index] = data.value;
};

const finishQuiz = () => {
  quizStore.setQuizStatus("FINISHED");
  saveUserResult();
  clearInterval(interval);
};

const backToQuizSelection = () => {
  quizStore.setQuizStatus("NOT_STARTED");
  quizStore.setSelectedQuiz(null);
};

const isValidFeedBack = computed(() => {
  return feedBack.value && feedBack.value.length > 0;
});

const saveFeedBack = async () => {
  if (isValidFeedBack) {
    await quizApi.createFeedback({
      user_id: randomUser.id,
      feedback_text: feedBack.value,
    });
    savedFeedback.value = true;
  }
};
const saveUserResult = async () => {
  await quizApi.createResult({
    score: score.value,
    time_taken: 60 - timeLeft.value + " seconds",
    user_id: randomUser.id,
    quiz_id: quizStore.selectedQuiz.id,
  });
};

const duration = ref(60); // Countdown duration in seconds
const timeLeft = ref(60); // Initial time left
const progress = ref(100); // Initial progress (full bar)
let interval = null;

const updateTimer = () => {
  interval = setInterval(() => {
    if (timeLeft.value > 0) {
      timeLeft.value -= 1;
      progress.value = (timeLeft.value / duration.value) * 100;
    } else {
      score.value = 0; // User didnt finish within the allorted time so they fail
      finishQuiz();
    }
  }, 1000);
};

onMounted(() => {
  updateTimer(); // Start the countdown on component mount
});
</script>