<template>
  <div>
    <div class="text-center"><h1>Most Accessed  Quizes</h1></div>
    <DataTable :value="quizeBoard" >
      <Column field="title" header="Name"></Column>
      <Column field="numberResults" header="Accessed  Times"></Column>
    </DataTable>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useQuiz } from "@/store/modules/quiz";
const quizStore = useQuiz();

const quizeBoard = computed(() => {
  return quizStore.quizzes
    .map((quiz) => {
      return {
        title: quiz.title,
        numberResults: quiz.results.length,
      };
    })
    .sort((a, b) => b.numberResults - a.numberResults);
});
</script>
