<template>
  <div>
    <div class="text-center"><h1>User Score Board</h1></div>
    <DataTable :value="userResults" tableStyle="min-width: 50rem">
      <Column field="userName" header="Name"></Column>
      <Column field="numberQuizes" header="No. Quizes"></Column>
      <Column field="maxScore" header="Highest Score"></Column>
      <Column field="numberFailedQuizes" header="Number Failed Quizes"></Column>
    </DataTable>
  </div>
</template>
  <script setup>
import { computed } from "vue";
import { useQuiz } from "@/store/modules/quiz";
const quizStore = useQuiz();

//
const userResults = computed(() => {
  return quizStore.users.map((user) => {
    return {
      userName: user.username,
      numberQuizes: user.results.length,
      maxScore: user.results.reduce((maxValue, currentValue) => {
        return currentValue.score > maxValue ? currentValue.score : maxValue;
      }, 0),
      // minScore: user.results.reduce((minValue, currentValue) => {
      //   return currentValue.score < minValue ? currentValue.score : minValue;
      // }, Infinity),
      numberFailedQuizes: user.results.reduce((accumulator, currentValue) => {
        const score = currentValue.score;
        accumulator[score] = (accumulator[score] || 0) + 1;
        return accumulator;
      })[0], // return the ones they had 0
    };
  });
});
</script>
