<template>
  <h2 class="text-center">{{ question.question_text }}</h2>
  <div
    v-for="(choice, index) in props.question.options.split(',')"
    :key="index"
    class="flex justify-content-center mt-3"
  >
    <RadioButton
      v-model="selectedChoice"
      :inputId="String(index)"
      name="dynamic"
      :value="index+1"
      @change="emitChangedAnswer"
    />
    <label :for="index" class="ml-2 text-xl text-center">{{ choice }}</label>
  </div>
</template>

<script setup>
import {ref } from "vue";
const emit = defineEmits(["choiceSelected"]);
const props = defineProps({
  question: {
    type: Object,
    required: true,
  },
  questionIndex: {
    type: Number,
    required: true,
  }
});
const selectedChoice = ref(null);

const emitChangedAnswer = () => {
  emit("choiceSelected", { value: selectedChoice.value, index: props.questionIndex });
};
</script>
